img {
    max-width: 100%;
    display: block;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {     
    max-width: 700px;
    margin: 0 auto;      
}

.carousel-container {
    height: 100%;
    position: relative;
    background-color: black;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-up {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;    
    font-size: 30px; 
    cursor: pointer;   
}

.arrow-down {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;   
    font-size: 30px; 
    cursor: pointer;  
}

.image {
    display: none;
}

.carousel-container .active {
    display: block;
}

.thumbnails-container {    
    max-width: 200px;  
    display: flex;
    flex-direction: column;
    position: relative;      
}

.thumbnails-container img {
    background-color: black;
    object-fit: contain;
    opacity: 0.5;
}

.focus {
    opacity: 1;
}

.section {
    display: flex;
}

